@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000000;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body.lock {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 69.375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  line-height: 114.2857142857%;
  padding: 0.75rem 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border: 2px solid #66c05d;
  border-radius: 40px;
  min-width: 10.625rem;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #66c05d;
  color: #ffffff;
}

.contact {
  display: flex;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  row-gap: 0.3125rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.contact__phone {
  font-size: 1rem;
  line-height: 118.75%;
  padding: 0.625rem 1.5625rem 0.625rem 0.625rem;
}

@media (max-width: 47.99875em) {
  .contact__phone {
    padding: 0.625rem;
  }
}
@media (max-width: 29.99875em) {
  .contact {
    flex-direction: column;
  }
}
.header__menu {
  background-color: #efefef;
}
.header__contact {
  padding: 10px 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.menu__item {
  padding: 0.5625rem 0.5rem;
}
.menu__link {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  color: #333333;
  line-height: 114.2857142857%;
}
.menu__link:hover {
  text-decoration: underline;
}

.header-middle__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.25rem 0;
}
.logo__image {
  width: 80px;
  height: 80px;
}
.logo__text {
  text-transform: uppercase;
  color: #66c05d;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 116.6666666667%;
  letter-spacing: 0.1em;
  padding: 0 20px;
}

.submenu {
  border-top: 1px solid #EFEFEF;
}
.submenu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.submenu__item {
  padding: 1.25rem 0.625rem;
}
.submenu__link {
  padding: 0.625rem 0.625rem;
}
.submenu__link:hover {
  text-decoration: underline;
}

@media (max-width: 47.99875em) {
  .header__contact {
    justify-content: center;
  }
  .header-middle__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo__image {
    width: 60px;
    height: 60px;
  }
  .logo__text {
    font-size: 1.75rem;
  }
}
.main__slider {
  background-color: #66C05D;
  color: #ffffff;
  overflow: hidden;
}
.main__offer {
  background-color: #EFEFEF;
}
.main__contact {
  background-color: #EFEFEF;
}

.slider-main__body {
  height: 37.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-main__content {
  flex: 0 0 30%;
}
.slider-main__content p {
  padding-bottom: 0.3125rem;
}
.slider-main__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 116.6666666667%;
  white-space: nowrap;
  margin-bottom: 3.125rem;
}
.slider-main__button {
  border: 2px solid #ffffff;
  color: #ffffff;
  margin-top: 2.8125rem;
}
.slider-main__button:hover {
  color: #000000;
  background-color: #ffffff;
}
.slider-main__image {
  flex: 0 1 62%;
  position: relative;
  height: 100%;
}
.slider-main__image img {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
}
.slider-main__image::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0;
  height: 677px;
  width: 677px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.slider-main__image::after {
  content: "";
  position: absolute;
  top: -117px;
  left: -90px;
  height: 859px;
  width: 859px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.offer-main__body {
  padding: 6.25rem 0;
}
.offer-main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.25rem;
  margin-bottom: 1rem;
}
.offer-main__title h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 116.6666666667%;
}
.offer-main__title img {
  height: 3.75rem;
  width: 11.75rem;
}
.offer-main__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px -15px;
}
.offer-main__column {
  padding: 15px 15px;
  flex: 0 1 25%;
  display: flex;
}
.offer-main__item {
  background-color: #ffffff;
}

.item-offer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5625rem 1.875rem;
  min-width: 15.9375rem;
  min-height: 100%;
}
.item-offer__image {
  padding-bottom: 1.25rem;
}
.item-offer__title {
  line-height: 142.8571428571%;
  text-align: center;
  color: #333333;
  padding-bottom: 1.25rem;
}
.item-offer__price {
  padding-bottom: 1.25rem;
  font-weight: 500;
  font-size: 1.3125rem;
  line-height: 119.0476190476%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  flex: 1 1 auto;
}
.item-offer__button {
  background-color: #66C05D;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.item-offer__button:hover {
  background-color: #82d17b;
  border: 2px solid #82d17b;
}

.contact-main__body {
  padding-bottom: 8.25rem;
}
.contact-main__row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -15px;
}
.contact-main__column {
  padding: 15px 15px;
  flex: 1 1 50%;
}
.contact-main__item {
  min-height: 100%;
  background-color: #66C05D;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1875rem 2.8125rem 2.1875rem 2.5rem;
}

.item-contact__content {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-contact__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 116.6666666667%;
  padding-bottom: 1.5625rem;
}
.item-contact__text {
  padding-right: 10px;
  flex: 1 1 auto;
  padding-bottom: 25px;
}
.item-contact__input {
  padding: 9px 25px;
  border-radius: 30px;
}
.item-contact__button {
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.3s ease 0s;
}
.item-contact__button:hover {
  color: #ffffff;
  background-color: #82d17b;
}

@media (max-width: 47.99875em) {
  .slider-main__body {
    height: 25rem;
  }
  .slider-main__title {
    font-size: 2rem;
    margin-bottom: 1.5625rem;
  }
  .slider-main__button {
    margin-top: 1.5625rem;
  }
  .slider-main__image {
    width: 100%;
  }
  .slider-main__image img {
    width: 100%;
  }
  .slider-main__image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25rem;
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
  }
  .slider-main__image::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }
  .offer-main__container {
    padding: 0 0.625rem;
  }
  .offer-main__body {
    padding: 3.75rem 0;
  }
  .offer-main__title {
    margin-top: 0;
    padding: 0 0.625rem;
  }
  .offer-main__title img {
    height: 1.875rem;
    width: 5.875rem;
  }
  .offer-main__column {
    flex: 1 1 25%;
  }
  .offer-main__item {
    width: 100%;
  }
  .contact-main__container {
    padding: 0 0.625rem;
  }
  .contact-main__body {
    padding-bottom: 3.75rem;
  }
  .contact-main__item {
    padding: 1.25rem;
  }
  .item-contact__text {
    padding-right: 0;
  }
  .item-contact__image img {
    width: 5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 29.99875em) {
  .slider-main__body {
    height: 15.625rem;
  }
  .slider-main__title {
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
  }
  .slider-main__button {
    margin-top: 0.9375rem;
  }
  .slider-main__image::before {
    height: 17.5rem;
    width: 17.5rem;
  }
  .slider-main__image::after {
    height: 25rem;
    width: 25rem;
  }
  .item-contact__image {
    display: none;
  }
}
.footer__top {
  background-color: #ffffff;
}
.footer__bottom {
  background-color: #efefef;
}

.top-footer__body {
  min-height: 7.5625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
.top-footer__social {
  display: flex;
  padding: 0.625rem 0;
}
.top-footer__adress {
  white-space: nowrap;
}
.top-footer__contact {
  padding: 0.625rem 0;
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid #66c05d;
  border-radius: 50%;
  margin-right: 1.25rem;
  transition: all 0.3s ease 0s;
}
.social__link:hover {
  background-color: #66c05d;
  color: #ffffff;
}
.social__link:hover img {
  filter: grayscale(1) contrast(3);
}

.bottom-footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-footer__body span {
  font-size: 0.75rem;
  line-height: 116.6666666667%;
  color: #828282;
  padding: 1.5625rem 0;
}
.bottom-footer__body span a:hover {
  text-decoration: underline;
}
.bottom-footer__body span:not(:last-child) {
  padding-right: 0.9375rem;
}

@media (max-width: 47.99875em) {
  .top-footer__body {
    justify-content: center;
  }
  .top-footer__social {
    padding: 0.9375rem 0;
  }
  .top-footer__contact {
    padding: 0.9375rem 0;
  }
  .bottom-footer__body {
    flex-direction: column;
    align-items: center;
  }
  .bottom-footer__body span {
    text-align: center;
    padding: 0.9375rem 0;
  }
}