
.button {
	line-height: percent(16, 14);
	padding: rem(12) 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	border: 2px solid #66c05d;
	border-radius: 40px;
	min-width: rem(170);
	transition: all 0.3s ease 0s;
		&:hover {
			background-color: #66c05d;
			color: #ffffff;
}
}

.contact {
	display: flex;
	column-gap: rem(15);
	row-gap: rem(5);
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	&__phone {
		font-size: rem(16);
		line-height: percent(19, 16);
		padding: rem(10) rem(25) rem(10) rem(10);
	}
}

@media (max-width: $mobile) {
	.contact {
		&__phone {
			padding: rem(10);
		}
	}
}

@media (max-width: $mobileSmall) {
	.contact {
		flex-direction: column;
	}

}
