

.header {

	&__wrapper {
	}

	&__body {
	}

	&__menu {
		background-color: $mainBackgroundColor;
	}

	&__logo {
	}

	&__contact {

	}

	&__submenu {
	}
}
.menu {

	&__container {
	}

	&__body {
		
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		padding: rem(9) rem(8);
	}

	&__link {
		display: inline-block;
		padding: rem(8) rem(8);
		color: #333333;
		line-height: percent(16, 14);
		&:hover {
			text-decoration: underline;
		}
	}
}
.header-middle {

	&__container {
	}
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
}
.logo {
display: flex;
justify-content: flex-start;
align-items: center;
padding: 20px 0;
	&__image {
		width: 80px;
		height: 80px;
	}

	&__text {
		text-transform: uppercase;
		color: #66c05d;
		font-weight: 700;
		font-size: rem(36);
		line-height: percent(42, 36);
		letter-spacing: 0.1em;
		padding: 0 20px;
	}
}



.submenu {

border-top: 1px solid #EFEFEF;

	&__body {
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}

	&__item {
		padding: 20px 10px;
	
	}

	&__link {
		padding: 10px 10px;
		&:hover {
			text-decoration: underline;
		}
	}
}

// @media (max-width: $tablet) {

// }
