
.main {

	&__slider {
		background-color: #66C05D;
		color: #ffffff;
		overflow: hidden;
	}

	&__offer {
		background-color: #EFEFEF;
	}

	&__contact {
		background-color: #EFEFEF;
	}
}


.slider-main {

	&__container {
	}

	&__body {
		height: 604px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__content {
		flex: 0 0 30%;
	}
	&__content p {
		padding-bottom: 5px;
	}

	&__title {
		font-weight: 700;
		font-size: 48px;
		line-height: 56px;
		white-space: nowrap;
		margin-bottom: 50px;
	}

	&__button {
		border: 2px solid #ffffff;
		color: #ffffff;
		margin-top: 45px;
		&:hover {
			color: #000000;
			background-color: #ffffff;
		}
	}

	&__image {
		flex: 0 1 62%;
		position: relative;
		height: 100%;
		& img {
			position: absolute;
			height: 100%;
			object-fit: cover;
			z-index: 3;
		}
		&::before {
			content: '';
			position: absolute;
			top: -26px;
			left: 0;
			height: 677px;
			width: 677px;
			background-color: rgba(255, 255, 255, 0.4);
			border-radius: 50%;
		}
		&::after {
			content: '';
			position: absolute;
			top: -117px;
			left: -90px;
			height: 859px;
			width: 859px;
			background-color: rgba(255, 255, 255, 0.3);
			border-radius: 50%;
		}
	}
}


.offer-main {

	&__body {
		padding: 100px 0;
		
	}

	&__title {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -20px;
margin-bottom: 16px;
		& h2 {
			font-weight: 700;
			font-size: 24px;
			line-height: 28px;
		}
		& img {
			height: 60px;
			width: 188px;
		}
	}


	&__row {
		display: flex;
	justify-content: center;
		flex-wrap: wrap;
		margin: -15px -15px;
	}

	&__column {
		padding: 15px 15px;
		flex: 0 1 25%;
		display: flex;
	}

	&__item {
		background-color: #ffffff;
		// display: flex;
		// flex-direction: column;
	}
}
.item-offer {

	&__body {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		align-items: center;
		gap: 20px;
		padding: 25px 30px;
		min-width: 255px;
		min-height: 100%;
	}

	&__image {
		
	}

	&__title {
		line-height: 20px;
		text-align: center;
		color: #333333;
	}

	&__price {
		font-weight: 500;
		font-size: 21px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.05em;
		color: #000000;
		flex: 1 1 auto;
	}

	&__button {
 			background-color: #66C05D;
 			color: #ffffff;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: #82d17b;
				border: 2px solid #82d17b;
			}
	}
}



.contact-main {

	&__container {
	}

	&__body {
		padding-bottom: 132px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px -15px;
	}

	&__column {
		padding: 15px 15px;
		flex: 1 1 50%;
	}

	&__item {
		min-height: 100%;
		background-color: #66C05D;
		color: #ffffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 45px 35px 40px;
	}
}
.item-contact {
	
	&__content {
		flex: 0 0 60%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 25px;
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
	}

	&__text {
		padding-right: 10px;
		flex: 1 1 auto;
	}

	&__input {
		padding: 9px 25px;
		border-radius: 30px;
	}

	&__image {
	}

	&__button {
		color: #ffffff;
		border: 2px solid #ffffff;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #ffffff;
			background-color: #82d17b;
		}
	}
}

// @media (max-width: $tablet) {

// }




